*{
  margin: 0;
  -webkit-text-size-adjust:none;
}
#DownPerson{
  position: fixed;
  text-align: center;
  vertical-align: bottom;
  bottom: 0;
  right: 50%;
  margin: 0 -140px 0 0;
  transform: translate(0px,-5px);
}
#RightPerson{
  position: fixed;
  text-align: center;
  vertical-align: bottom;
  top: 50%;
  right: 0;
  margin: -60px 0 0 0;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg) translate(0,78px);
}
#UpPerson{
  position: fixed;
  text-align: center;
  vertical-align: bottom;
  top: 0;
  right: 50%;
  margin: 0 -140px 0 0;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg) translate(0px,-5px);
}
#LeftPerson{
  position: fixed;
  text-align: center;
  vertical-align: bottom;
  top: 50%;
  left: 0;
  margin: -60px 0 0 0;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg) translate(0,78px);
}
#Mid{
  position: fixed;
  text-align: center;
  vertical-align: bottom;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle{
  background-color:red;
  width:15px;
  height:15px;
  border-radius:50%;
  margin: 3px auto 3px auto;
}
.blackcircle{
  display: inline-block;
  background-color:black;
  width:3px;
  height:3px;
  border-radius:50%;
  margin: 3px 0px auto 0px;
}

.richii_stick{
  visibility: hidden;
  border: 1px solid black;
  grid-area: stick;
  transform: translate(0,20px);
}
.richii_stick_mini{
  border: 1px solid black;
  width: 50px;
  height: 10px;
  transform: rotate(-50deg) translate(-52px,-10px);
}

.container{
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas: 
    "stick stick"
    "wind score";
  vertical-align: middle;
  text-align: center;
}
.container_mid{
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 190px 190px 140px;
  grid-template-areas: 
    "now now ron"
    "now now tsumo"
    "richii renjang ryuukyoku";
  vertical-align: middle;
  text-align: center;
}
.container_choose{
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, auto);
  grid-template-areas: 
    "explain explain explain"
    ". upcheck ."
    "leftcheck . rightcheck"
    ". downcheck ."
    "ok ok ok";
  vertical-align: middle;
  text-align: center;
}

.wind{
  grid-area: wind;
  margin: auto;
  font-size: 80px;
}
.score{
  grid-area: score;
  width: 200px;
  margin: auto;
}
.now{
  grid-area: now;
  font-size: 70px;
}
.richii{
  grid-area: richii;
  margin: 0 auto 0 auto;
  font-size: 0px;
  transform: translate(20px,-10px);
}
.renjang{
  grid-area: renjang;
  margin: auto;
  font-size: 0px;
  transform: translate(20px,-10px);
}
.ron{
  grid-area: ron;
  font-size: 40px;
}
.tsumo{
  grid-area: tsumo;
  font-size: 40px;
}
.ryuukyoku{
  grid-area: ryuukyoku;
  font-size: 40px;
}

.explain{
  grid-area: explain;
  font-size: 20px;
}
.downcheck{
  grid-area: downcheck;
  font-size: 70px;
  color: black;
}
.rightcheck{
  grid-area: rightcheck;
  font-size: 70px;
  color: black;
}
.upcheck{
  grid-area: upcheck;
  font-size: 70px;
  color: black;
}
.leftcheck{
  grid-area: leftcheck;
  font-size: 70px;
  color: black;
}
.ok{
  grid-area: ok;
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal_content {
  background-color: #ffffff;
  position: fixed;
  text-align: center;
  vertical-align: bottom;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  padding: 5px;
  z-index: 2;
}

.no_drag{
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html, body{
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Noto Serif KR', serif;
}
@media (orientation: portrait) {
	html {
		transform: rotate(-90deg);
		transform-origin: top left;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100vh;
		height: 100vw;
	}
}