#now{
    font-weight: bold;
}
#마작의역{
    width: 85%;
    border: 3px solid #00dddd;
    width: 600px;
    margin: auto;
}
#목차{
    color: black;
    width: 400px;
    border: 1px solid #cccccc;
    padding: 5px;
    margin-top: 20px;
}
.tab{
    padding-left: 20px;
}
html{
    background-color: gainsboro;
}
head, body{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 20%;
    margin-left: 20%;
    background-color: white;
    padding: 10px;
}
h1{
    margin-top: 0px;
    font-size: 30px;
}
h3{
    margin-top: 30px;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px solid #cccccc;
}
h4{
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 10px;
}
h5{
    font-size: 15px;
    width: 75%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
    border-bottom: 1px solid #cccccc;
}
a{
    color: #0275d8;
    text-decoration: none;
}
table{
    border-collapse: collapse;
    background-color: #eeeeee;
    color: black;
    width: 650px;
    border: 2px dashed #cccccc;
    text-align: center;
    padding: 0px;
}
th{
    background-color: #00dddd;
    color: white;
    font-size: 20px;
    border: 1px solid #cccccc
}
tr, td{
    padding: 5px;
    border: 1px solid #cccccc;
    text-align: center;
}
p{
    font-size: 16px;
    margin: 3px;
    width: 85%;
}
img{
    width: 30px;
}
@media(max-width:650px){
    table, #마작의역{
        width: 95%;
    }
    img{
        width: 4.5%;
    }
}
    
@media(max-width:1150px){
    html{
        background-color: gainsboro;
    }
    head, body{
        margin-right: 0%;
        margin-left: 0%;
    }
}