#now{
    font-weight: bold;
}
#마작의역{
    width: 85%;
    border: 3px solid #00dddd;
    width: 600px;
    margin: auto;
}
#목차{
    color: black;
    width: 400px;
    border: 1px solid #cccccc;
    padding: 5px;
    margin-top: 20px;
}
.tab{
    margin-left: 20px;
}
.cnttable{
    margin: auto;
    width: auto;
    border: 1px solid #cccccc;
    background-color: #f9f9f9;
}
html{
    background-color: gainsboro;
}
head, body{
    word-break: keep-all;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding: 10px;
    width: 900px;
}
h1{
    margin-top: 0px;
    font-size: 30px;
}
h3{
    margin-top: 30px;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px solid #cccccc;
}
h4{
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 10px;
}
h5{
    font-size: 15px;
    width: 75%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
    border-bottom: 1px solid #cccccc;
}
input{
    background-color: #fefefe;
    border: 1px solid #000000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}
input[type=number], input[type=text]{
    width: 200px;
}
input[type=radio]{
    height: 20px;
    width: 20px;
}
a{
    color: #0275d8;
    text-decoration: none;
}
table{
    border-collapse: collapse;
    background-color: #eeeeee;
    color: black;
    width: 700px;
    border: 2px dashed #cccccc;
    text-align: center;
    padding: 0px;
}
th{
    background-color: #00dddd;
    color: white;
    font-size: 20px;
    border: 1px solid #cccccc
}
tr, td{
    padding: 5px;
    border: 1px solid #cccccc;
    text-align: center;
}
p{
    margin: 3px;
    width: 85%;
}
@media(max-width:775px){
    head, body{
        width: auto;
    }
    table, #마작의역{
        width: 95%;
    }
}